<%- include('partials/header') %>
    <div class="topnav" id="myTopnav">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/hospital">Hospitals</a>
        <a class="nav-item  active" href="/dr">Doctors</a>
        <a class="nav-item" href="/ambulance">Ambulance</a>
        <a class="nav-item" href="/covidTracker">Covid Updates</a>
        <a class="nav-item" class="logo" href="/drform"><img src="/static/icons/doctor.png" /></a>
        <a class="nav-item" class="logo" href="/hospform"><img src="/static/icons/hospital.png" /></a>
        <a class="nav-item active" href="/profile">Profile</a>
        <a href="/logout" class="button-logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars" style="font-size:150%"></i>
        </a>

    </div>

    <div onclick="topFunction()" id="myBtn" class="go-top">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_LDS3JQ.json" background="transparent" speed="1" style="width: 50px; height: 50px" loop autoplay></lottie-player>
    </div>

    <lottie-player class="hosp-lottie" src="https://assets2.lottiefiles.com/packages/lf20_mR5H7A.json" background="transparent" speed="0.5" loop autoplay></lottie-player>
    <div class="Home1">
        <% hosp.forEach(function(image) { %>
            <section>

                <div class="glassmorphism-bg3">
                    <div class="dashboard1">
                        <img class="dashImage" src="data:image/<%=image.imgH.contentType%>;base64,<%=image.imgH.data.toString('base64')%>" alt="Card image cap">

                        <div class="dashDetails">
                            <h3 class="username1">
                                <%= image.hospitalName %>
                            </h3>
                            <h3>
                                <%= image.hospitalAddress %>
                            </h3>
                            <h3>
                                <%= image.bedAvilabile %>
                            </h3>
                            <h3>
                                <%= image.workForce %>
                            </h3>
                            <h3>
                                <%= image.specialization %>
                            </h3>
                            <h3>
                                <%= image.facilities %>
                            </h3>


                        </div>
                    </div>
                </div>
            </section>

            <%});%>
    </div>
    <script>
        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
    <script src="/static/homepage.js"></script>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <%- include('partials/footer') %>